# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride
.vscode

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# SelfDefine
*.wpr
*.wpu
*.decode
*.update
python3/sdlutils/__pycache__/sdlutils.cpython-39.pyc
python3/tmp/test.json
python3/tmp/test.s
python3/tmp/test1.json
python3/tmp/test1.sjson
python3/tmp/xdr_def_test.sdl
python3/sdlutils/__pycache__/logger.cpython-39.pyc
python3/sdlutils/__pycache__/xdrutils.cpython-39.pyc
python3/sdlutils/__pycache__/asn1utils.cpython-39.pyc
python3/sdlutils/__pycache__/treenode.cpython-39.pyc
python3/tmp/asn.out
python3/tmp/asn5f6d.asn
python3/tmp/asn5f8136.asn
python3/tmp/asn7f72_3ceng.asn
python3/tmp/asn64_2ceng.asn
python3/tmp/IOTCNGD20190801CNT240.0811
python3_gui/UniversalTools/__pycache__/appgui.cpython-39.pyc
python3/utils/__pycache__/HtmlClipboard.cpython-39.pyc
